{% extends 'basaFront.html.twig' %}

{% block body %}

<div class="container">
 <h1 class="text-center">Ajouter une Reclamation</h1>
</div>
<br>
{{ form_start(f, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        {{ form_label(f.titre) }}
                        {{ form_widget(f.titre, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error-message">
                            {{ form_errors(f.titre) }}
                        </div>
                    </div>
                </div>
            </div>

<br>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    {{ form_label(f.description) }}
                    {{ form_widget(f.description, {'attr': {'class': 'form-control'},'id':'publicationText'
}) }}
                    <small>{{ form_help(f.description) }}</small>
                    <div class="form-error-message">
                        {{ form_errors(f.description) }}

<script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>

<button id="emoji-button" type="button">Emojis</button>


<script>
const button = document.querySelector('#emoji-button');

const picker = new EmojiButton();

button.addEventListener('click', () => {
  picker.togglePicker(button);
  
});

  picker.on('emoji', emoji => {
    document.getElementById('publicationText').value += emoji;
  });
  </script>
cdn.jsdelivr.net

                    </div>
                </div>
            </div>
        </div>

<br>
      
     


        

         


            <br>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    {{ form_label(f.idType) }}
                    {{ form_widget(f.idType, {'attr': {'class': 'form-control'}}) }}
                    <small>{{ form_help(f.idType) }}</small>
                    <div class="form-error-message">
                        {{ form_errors(f.idType) }}
                    </div>
                </div>
            </div>
        </div>


            <div class="card-body text-center">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        
        </div>
    </div>
</div>
{{ form_end(f) }}

{% endblock %}
