{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
 <h1 class="text-center">Modifier la Réclamation</h1>
</div>
<br>
{{ form_start(f, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        {{ form_label(f.reply) }}
                        {{ form_widget(f.reply, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error-message">
                            {{ form_errors(f.reply) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
            <div class="card-body text-center">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
</div>

{{ form_end(f) }}

{% endblock %}
