{% extends 'base.html.twig' %}

{% block title %}Command{% endblock %}

{% block body %}
    <h1>Command</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ command.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ command.reference }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ command.date ? command.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ command.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_command_index') }}">back to list</a>

    <a href="{{ path('app_command_edit', {'id': command.id}) }}">edit</a>

    {{ include('command/_delete_form.html.twig') }}
{% endblock %}
