{% extends 'baseFront.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <section class="section-products">
        <div class="container">
    
        <div class="me-5 ms-n2 pe-5">
    <div id="DataTables_Table_0_filter" class="dataTables_filter">
        <label>
            <input type="search" class=" search-input" placeholder="Search Produit" aria-controls="DataTables_Table_0" id="searchInput">
        </label>

            <div class="row justify-content-center text-center">

                <div class="col-md-8 col-lg-6">
                    <div class="header">
                        <h3>Liste des Produits</h3>
                    </div>
                </div>
            </div>



            <div class="row">
                {% for produit in produits %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product">
                            <div class="part-1">
                                <ul>
                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">{{ produit.nom }}</h3>
                                {% if produit.image %}
                                    <img src="{{ asset('uploads/' ~ produit.image) }}" alt="Product Image" style="max-width: 200px; max-height: 120px;">
                                {% else %}
                                    <p>Aucune image disponible</p>
                                {% endif %}
                                <p> {{ produit.description }}</p>
                               <p>Catégorie : {{ produit.categorieProduit.libelle }}</p>
                                <p>Prix : {{ produit.prix }}</p>


                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script>
    // Attend que le document soit chargé
    document.addEventListener("DOMContentLoaded", function() {
        // Sélectionne l'élément de champ de recherche
        var searchInput = document.getElementById("searchInput");

        // Ajoute un écouteur d'événements pour l'événement de saisie de texte
        searchInput.addEventListener("input", function() {
            // Récupère le texte saisi dans le champ de recherche
            var searchText = searchInput.value.toLowerCase();

            // Sélectionne tous les éléments de produit
            var products = document.querySelectorAll(".single-product");

            // Parcourt tous les produits
            products.forEach(function(product) {
                // Récupère le nom du produit dans chaque élément de produit
                var productName = product.querySelector(".product-title").innerText.toLowerCase();

                // Vérifie si le nom du produit contient le texte de recherche
                if (productName.includes(searchText)) {
                    // Affiche le produit si le texte de recherche est trouvé dans le nom du produit
                    product.style.display = "block";
                } else {
                    // Masque le produit si le texte de recherche n'est pas trouvé dans le nom du produit
                    product.style.display = "none";
                }
            });
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var categorieSelect = document.getElementById("categorieProduit");
        var products = document.querySelectorAll(".productItem");

        categorieSelect.addEventListener("change", function() {
            var categorieId = categorieSelect.value;

            products.forEach(function(product) {
                var produitCategorieId = product.getAttribute("data-categorie-id");

                if (categorieId === produitCategorieId || categorieId === "") {
                    product.style.display = "block";
                } else {
                    product.style.display = "none";
                }
            });
        });
    });
</script>

{% endblock %}

{% block stylesheets %}
 {{ parent() }}
    <style>
        /* Ajout de styles pour l'animation */
        .single-product:hover {
            transform: translateY(-5px);
            transition: transform 0.3s ease;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }
    </style>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}
 .search-input {
        width: 400px; /* Ajoutez la largeur désirée ici */
    }
.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

</style>
{% endblock %}

  
   



