{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}

<div class="card mb-4" id="stat_card">
  <div class="card-widget-separator-wrapper">
    <div class="card-body card-widget-separator">
      <div class="row gy-4 gy-sm-1">
        <div class="col-sm-6 col-lg-3">
          <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-3 pb-sm-0">
            <div>
              <h6 class="mb-2">Total Produits</h6>
              <h4 class="mb-2">{{ produits|length }} Produits</h4>
            </div>
            <div class="avatar me-sm-4">
              <span class="avatar-initial rounded bg-label-secondary">
                <i class="fas fa-shopping-cart"></i>
              </span>
            </div>
          </div>
          <hr class="d-none d-sm-block d-lg-none me-4">
        </div>
      </div>
    </div>
  </div>
</div>
<a href="{{ path('app_produit_new') }}" class="btn btn-primary">Create new</a>
<div class="card" id="Table">
    <table class="table">
        <thead>
            <tr>
                <th>Ref</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Categorie</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.ref }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.categorieProduit.libelle }}</td>
                <td>
                    {% if produit.image %}
                        <img src="{{ asset('uploads/' ~ produit.image) }}" alt="Product Image" style="max-width: 180px; max-height: 90px;">
                    {% else %}
                        No image available
                    {% endif %}
                </td>
                <td>
                   <a href="{{ path('app_produit_show', {'ref': produit.ref}) }}" class="btn btn-primary">Show</a>
    </a>
                    <a href="{{ path('app_produit_edit', {'ref': produit.ref}) }}">
                        <i class="fas fa-edit"></i> 
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
