{% extends 'base.html.twig' %}

{% block title %}évenement index{% endblock %}

{% block body %}
    <h1>évenement index</h1>

    <div class="container-fluid"> 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Date</th>
                <th>Frais</th>
                <th>Photo</th>
                <th>Localisation</th>
                <th>Siteweb</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for _venement in _venements %}
            <tr>
                <td>{{ _venement.id }}</td>
                <td>{{ _venement.libelle }}</td>
                <td>{{ _venement.description }}</td>
                <td>{{ _venement.date ? _venement.date|date('Y-m-d') : '' }}</td>
                <td>{{ _venement.frais }}</td>
                <td>{{ _venement.photo }}</td>
                <td>{{ _venement.localisation }}</td>
                <td>{{ _venement.siteweb }}</td>
                <td>
                    <a href="{{ path('app__venement_show', {'id': _venement.id}) }}">show</a>
                    <a href="{{ path('app__venement_edit', {'id': _venement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('app__venement_new') }}">Create new</a>
{% endblock %}
