
{% extends 'base.html.twig' %}



{% block title %}Events{% endblock %}

{% block body %}
    <h1>Events</h1>
    <a href="{{ path('app__venement_new') }}" id="add-event-button">
    <i class="fas fa-plus"></i> Add new event</a>
    <div class="container-fluid"> 
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Costs</th>
                <th>Photo</th>
                <th>Location</th>
                <th>Website</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for _venement in _venements %}
            <tr>
                <td>{{ _venement.libelle }}</td>
                <td>{{ _venement.description }}</td>
                <td>{{ _venement.date ? _venement.date|date('Y-m-d') : '' }}</td>
                <td>{{ _venement.frais }}</td>
                <td> <img src="{{ asset(_venement.photo) }}" class="event-photo"></td>
                <td>{{ _venement.localisation }}</td>
                <td>{{ _venement.siteweb }}</td>
             <td>
    <div>
        <a href="{{ path('app__venement_show', {'id': _venement.id}) }}" class="action-link">
            <i class="fas fa-eye"></i> Show
        </a>
    </div>
    <div>
        <a href="{{ path('app__venement_edit', {'id': _venement.id}) }}" class="action-link">
            <i class="fas fa-edit"></i> Edit
        </a>
         {{ include('Evenement/_delete_form.html.twig') }}
    </div>
    <div>
    
    </div>
</td>
   
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% block stylesheets %}
  <style>
  .event-photo {
    width: 250px;
    height: 250px;
  }

  #add-event-button {
  background-color: white;
  padding: 10px 20px ; 
  margin:10px 0px 20px;
  border-radius: 5px; 
  display: inline-block;
}

h1 {
  text-align: center;
  margin:20px 0 0 0 ;
}

.action-link {
    display: block; 
    margin-bottom: 5px; 
}


  </style>
 {% endblock %}
  
{% endblock %}
