{% extends 'base.html.twig' %}

{% block title %}évenement{% endblock %}

{% block body %}
    <h1>évenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ _venement.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ _venement.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ _venement.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ _venement.date ? _venement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Frais</th>
                <td>{{ _venement.frais }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ _venement.photo }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ _venement.localisation }}</td>
            </tr>
            <tr>
                <th>Siteweb</th>
                <td>{{ _venement.siteweb }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app__venement_index') }}">back to list</a>

    <a href="{{ path('app__venement_edit', {'id': _venement.id}) }}">edit</a>

    {{ include('Evenement/_delete_form.html.twig') }}
{% endblock %}
