{# basic_form_template.twig #}
{% block styles %}
<style>
    .error-message {
        color: red;
        font-size: 14px;
        display: block;
        margin-top: 4px;
        word-wrap: break-word;
        max-width: 300px;
        margin: 0 auto;
    }
</style>
{% endblock %}

<div class="text-center">
    <div class="col-md d-inline-block">
        <div class="card mb-3">
            <br>
            <h3>Modifier CategorieProduit</h3>
            <div class="card-header d-flex justify-content-between align-items-center"></div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="mb-3 text-start">
                    <label class="form-label">libelle</label>
                </div>
                <div class="mb-3">
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-user bx-flashing"></i></span>
                        {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <span class="error-message">{{ form_errors(form.libelle) }}</span>
                </div>

                

                <button type="submit" class="btn btn-primary">Modifier</button>
                <a href="{{ path('app_categorie_produit_index') }}" class="btn btn-primary">Retour</a>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>
